{% extends 'web/ajax/ajax_base.html' %}
{% load formatter %}
{% block content %}
    <table style="width: 100%;" class="tablesorter tablesorter-bootstrap">
        <thead>
        <tr>
            <th class="filter-select" style="width: 7%" {% if filter_anomalies %}data-value="yes"{% endif %} >
                Anomaly
            </th>
            <th>Offset</th>
            <th>Name</th>
            <th>Base</th>
            <th>Size</th>
            <th>File</th>
        </tr>
        </thead>
        <tbody>
        {% for module in modscans %}
            <tr>
                <td>
                    {{ module.detmodscan_set.all|yesno }}
                </td>
                <td>
                    {% if arch == "x86" %}
                        {{ module.offset|format_value:"[addrpad].Win7SP1x86" }}
                    {% else %}
                        {{ module.offset|format_value:"[addrpad].Win7SP1x64" }}
                    {% endif %}
                </td>
                <td>{{ module.name }}</td>
                <td>
                    {% if arch == "x86" %}
                        {{ module.base|format_value:"[addrpad].Win7SP1x86" }}
                    {% else %}
                        {{ module.base|format_value:"[addrpad].Win7SP1x64" }}
                    {% endif %}
                </td>
                <td>{{ module.size|format_value:"[addr]" }}</td>
                <td>{{ module.file }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}